@media (max-width: 768px){
.header{
    display: none;
}

.container-second{
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
}

.logo-img{
    object-fit: contain;
    width: 100px;
}

.img-logo{
    margin-left: 3vh;
}

.search{
    display: none;
}

.function{
    max-width: 250px;
}

.loopa-function{
    display: flex;
    font-size: 33px;
    
}
}
